.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  height: 100%;
}

.post-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title-title {
  display: flex;
  align-items: center;
}

.post-link-block {
  width: 100%;
}

.post-icon-block,
.avatar-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-icon-block {
  margin-bottom: 15px;
  width: 100%;
}

.avatar-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

#post {
  width: 60vw;
  background-color: black;
  color: white;
}

#post-link {
  font-size: 27px;
  text-decoration: inherit;
  color: #05b577;
}

#avatar-name {
  font-size: 30px;
  font-family: "Regular";
}

#avatar-date {
  font-size: 15px;
  font-family: "Regular";
  color: #09da91;
}

#edit-button {
  border: none;
  color: white;
  padding: none;
  border-radius: 800px;
  margin-right: 10px;
}

#edit-button:hover {
  color: #09da91;
}

#delete-button {
  border: none;
  color: white;
  padding: none;
  border-radius: 800px;
}

#delete-button:hover {
  color: #ff4545;
}

#loader {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tag {
  margin-bottom: 10px;
}

#description {
  margin-bottom: "15px";
  font-family: "Regular";
  font-size: 18px;
}

#text {
  font-family: "Regular";
  font-size: 23px;
}

@media (max-width: 1465px) {
  .post-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }

  .post-icon-block,
  .avatar-block {
    display: flex;
    align-items: center;
  }

  .post-icon-block {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .avatar-block {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  #avatar {
    margin-right: 15px;
  }
}

@media (max-width: 1070px) {
  #post-link {
    font-size: 14px;
  }

  #description {
    font-size: 11px;
  }
  
  #tag {
    font-size: 8px;
  }

  #text {
    font-size: 14px;
  }
}

@media (max-width: 765px) {
  #post-link {
    font-size: 12px;
  }

  #description {
    font-size: 10px;
  }
  
  #tag {
    font-size: 8px;
  }

  #text {
    font-size: 13px;
  }
}

@media (max-width: 655px) {
  .avatar-block {
    margin-bottom: 5px;
  }

  #post-link {
    font-size: 10px;
  }

  #tag {
    font-size: 7px;
  }

  #description {
    font-size: 8px;
  }

  #text {
    font-size: 12px;
  }

  #avatar-name {
    font-size: 15px;
  }

  #avatar-date {
    font-size: 10px;
  }

  #like {
    width: 15px;
    height: 15px;
  }

  #favorites-count {
    font-size: 12px;
  }
}

@media (max-width: 560px) {
  #post {
    width: 80vw;
  }
}

@media (max-width: 516px) {
  #post-link {
    font-size: 10px;
  }
}

@media (max-width: 458px) {
  #post-link {
    font-size: 8px;
  }

  #tag {
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 397px) {
  #post-link {
    font-size: 10px;
  }

  #tag {
    font-size: 10px;
  }

    
  #description {
    font-size: 8px;
  }

  #text {
    font-size: 10px;
  }

  #avatar-name {
    font-size: 13px;
  }

  #avatar-date {
    font-size: 8px;
  }

  #like {
    width: 15px;
    height: 15px;
  }

  #favorites-count {
    font-size: 12px;
  }
}
