.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  height: 100%;
}

.post-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-icon-block,
.avatar-block {
  display: flex;
  align-items: center;
}

.post-icon-block {
  margin-bottom: 15px;
}

.avatar-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

#post {
  width: 60vw;
  background-color: black;
  color: white;
}

#post-link {
  font-size: 27px;
  text-decoration: inherit;
  color: #05b577;
}

#avatar-name {
  font-size: 30px;
  font-family: "Regular";
}

#avatar-date {
  font-size: 15px;
  font-family: "Regular";
  color: #09da91;
}

#edit-button {
  border: none;
  color: white;
  padding: none;
  border-radius: 800px;
  margin-right: 10px;
}

#edit-button:hover {
  color: #09da91;
}

#delete-button {
  border: none;
  color: white;
  padding: none;
  border-radius: 800px;
}

#delete-button:hover {
  color: #ff4545;
}

#loader {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}


