.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  height: 100%;
}

.post-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-icon-block,
.avatar-block {
  display: flex;
  align-items: center;
}

.avatar-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

#post {
  width: 60vw;
  background-color: black;
  color: white;
}

#post-link {
  font-size: 27px;
  text-decoration: inherit;
  color: #05b577;
}

#avatar-name {
  font-size: 30px;
  font-family: "Regular";
}

#avatar-date {
  font-size: 15px;
  font-family: "Regular";
  color: #09da91;
}
