.editProfile-container {
  position: absolute;
  margin-top: 30%;
  left: 50%;
  background-color: black;
  height: 650px;
  width: 25vw;
  color: white;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.editProfile-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#title {
  font-family: "Regular";
  font-size: 27px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

#usernameField,
#emailField,
#passwordField,
#repeatPasswordField {
  width: 20vw;
  color: white;
  border-bottom: none;
  background-color: #05b5772c;
  border-radius: 5px;
  font-family: "Regular";
}

#usernameField:hover,
#emailField:hover,
#passwordField:hover,
#repeatPasswordField:hover {
  background-color: #05b57768;
}

#editProfile-checkbox {
  color: white;
  margin-left: 25px;
  font-family: "Regular";
}

#editProfile-checkbox span {
  font-family: "Regular";
}

#editProfile-checkbox svg {
  color: #05b577;
}

.button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 25px;
  flex-direction: column;
}

#editProfile-button {
  width: 22vw;
  padding: 12px;
  background-color: #05b577;
  font-family: "Regular";
  font-size: 17px;
  color: black;
}

#editProfile-button:hover {
  background-color: #09da91;
}

#editProfile-button:disabled {
  background-color: #8c8c8c;
}

#link-text {
  color: "white";
  margin-top: 10px;
  font-family: "Regular";
}

@media (max-width: 1220px) {
  .editProfile-container {
    margin-top: 35%;
  }
}

@media (max-width: 1180px) {
  #link-text {
    font-size: 10px;
  }
}

@media (max-width: 950px) {
  #title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #link-text {
    font-size: 13px;
  }

  #editProfile-checkbox span{
    font-size: 13px;
  }

  .button-block {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
  }

  #usernameField,
  #emailField,
  #passwordField,
  #repeatPasswordField {
    width: 38vw;
  }

  #editProfile-button {
    width: 40vw;
  }

  .editProfile-container {
    width: 48vw;
    margin-top: 45%;
    height: 550px;
  }
}

@media (max-width: 800px) {
  #title {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .editProfile-container {
    width: 50vw;
    margin-top: 50%;
  }

  #usernameField,
  #emailField,
  #passwordField,
  #repeatPasswordField {
    width: 40vw;
  }

  #editProfile-button {
    width: 42vw;
  }

  #editProfile-checkbox span{
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  .editProfile-container {
    margin-top: 60%;
  }
}

@media (max-width: 575px) {

  .editProfile-container {
    width: 80vw;
    margin-top: 70%;
  }

  #usernameField,
  #emailField,
  #passwordField,
  #repeatPasswordField {
    width: 70vw;
  }

  #editProfile-button {
    width: 73vw;
  }
}

@media (max-width: 480px) {
  #title {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .editProfile-container {
    margin-top: 80%;
  }


  #editProfile-checkbox span{
    font-size: 7px;
  }
}

@media (max-width: 415px) {
  .editProfile-container {
    width: 70vw;
    margin-top: 90%;
  }

  #usernameField,
  #emailField,
  #passwordField,
  #repeatPasswordField {
    width: 55vw;
  }

  #editProfile-button {
    width: 60vw;
  }
}

@media (max-width: 375px) {
  .editProfile-container {
    width: 70vw;
    margin-top: 100%;
  }
}
