.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.create-textField {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 32px;
}

.tags-block {
  margin-bottom: 35px;
}

.tags-content {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  flex-direction: column;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
}

#create-post {
  width: 940px;
  height: 70%;
  background-color: black;
  color: white;
  margin-bottom: 50px;
}

#titleField,
#shortField,
#textField {
  width: 100%;
  color: white;
  border-bottom: none;
  background-color: #05b5772c;
  border-radius: 5px;
  font-family: "Regular";
}

#titleField:hover,
#shortField:hover,
#textField:hover {
  background-color: #05b57768;
}

#create-add-button,
#create-delete-button {
  font-family: "Regular";
  font-size: 19px;
}

#create-add-button {
  color: white;
  border-color: white;
  margin-left: 20px;
}

#create-add-button:hover {
  border-color: white;
  background-color: white;
  color: black;
}

#create-delete-button {
  color: #ff1d1d;
  border-color: #ff1d1d;
  background-color: transparent;
}

#create-delete-button:hover {
  border-color: #ff4545;
  background-color: #ff4545;
  color: black;
}

#tagsField {
  width: 100%;
  color: white;
  border-bottom: none;
  background-color: #05b5772c;
  border-radius: 5px;
  font-family: "Regular";
}

#tagsField:hover {
  background-color: #05b57768;
}

#create-button {
  padding: 12px;
  background-color: #05b577;
  font-family: "Regular";
  font-size: 17px;
  color: black;
  width: 100%;
  margin-bottom: 50px;
}

#create-button:hover {
  background-color: #09da91;
}

#tag-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tags {
  color: white;
  background-color: #05b5772c;
  border-radius: 5px;
  font-family: "Regular";
  margin-right: 15px;
  padding: 15px 15px;
  border: 2px solid #0bf64e44;
  margin-bottom: 15px;
  margin-left: 0px;
}

