.buttons-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15vw;
  background-color: black;
  box-shadow: 0px 0px 10px 3px #09da91;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
}

#title {
  font-family: "Regular";
  color: white;
  margin-bottom: 25px;
}

#button-yes,
#button-no {
  font-family: "Regular";
  font-size: 19px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

#button-yes:hover,
#button-no:hover {
  color: black;
  background-color: #05b577;
  border: 1px solid #05b577;
}

@media (max-width: 1900px) {
  #box {
    width: 18vw;
  }
}

@media (max-width: 1690px) {
  #title {
    font-size: 15px;
  }

  #box {
    width: 18vw;
  }
}

@media (max-width: 1275px) {
  #title {
    font-size: 15px;
  }

  #box {
    width: 25vw;
  }
}

@media (max-width: 935px) {
  #title {
    font-size: 12px;
  }

  #box {
    width: 25vw;
  }

  #button-yes,
  #button-no {
    font-size: 15px;
  }
}

@media (max-width: 745px) {
  #title {
    font-size: 10px;
  }

  #box {
    width: 30vw;
  }

  #button-yes,
  #button-no {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  #title {
    font-size: 10px;
    margin-top: 20px;
  }

  #box {
    width: 50vw;
    padding: 0;
  }

  #button-yes,
  #button-no {
    font-size: 12px;
    margin-bottom: 20px;
  }

  #button-yes {
    margin-left: 30px;
  }

  #button-no {
    margin-right: 30px;
  }

  .buttons-block {
    width: 100%;
  }
}

@media (max-width: 390px) {
    #title {
      font-size: 9px;
    }
  
    #button-yes,
    #button-no {
      font-size: 8px;
    }
  
    #button-yes {
      margin-left: 30px;
      margin-right: 5px;
    }
  
    #button-no {
      margin-right: 30px;
      margin-left: 5px;
    }
  
    .buttons-block {
      width: 110%;
    }
  }
  
