.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

#footer-pagination button:hover {
  background-color: #006b45;
  color: white;
}

@media (max-width: 600px) {
  #footer-pagination button{
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
}
