.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 20px;
}

#footer-pagination button {
  color: white !important;
  font-family: "Regular";
}

#footer-pagination button:hover {
  background-color: #05b577;
}

.MuiPagination-ul {
    outline: 1px solid red !important;
    background-color: red !important;
}

