@font-face {
  font-family: "Regular";
  src: url("../public/fonts/Rowdies-Regular.ttf");
}

:root {
  --main-green: "#05b577";
}

body {
  background-color: #131313;
  margin: 0px;
  font-family: "Regular";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  font-family: "Regular";
}
